* {
    margin: 0px;
    font-family: 'Inter Tight', sans-serif;
}

.header {
    background-color: #2D2D2D;
    display: flex;
    justify-content: space-between;
    padding: 10px 10rem 10px 10rem;
    margin: 0px;
    border: 0px;
}

.logo-text {
    color: #FBAFDA;
    font-size: 24px;
    font-weight: bolder;
}

.links {
    display: flex;
    justify-content: flex-end;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    gap: 15px;
    letter-spacing: 0.8px;
}

a {
    text-decoration: none;
    color: #FBAFDA;
}

.intro {
    display: flex;
    justify-content: space-around;
    background-color: #2D2D2D;
    padding: 10rem 65px 10rem 65px;
    flex-direction: row-reverse;
    gap: 0px;
}

.main-text {
    color: #FBC3E4;
    font-size: 48px;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
}

.secondary-text {
    color: #FBC3E4;
    font-size: 18px;
    padding: 1px 0px 5px 0px;
}

button {
    background-color: #FBC3E4;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 24px;
    border: 0px;
    height: 50px;
    width: 150px;
    font-weight: 500;
    color: #2D2D2D;
}

.container {
    padding:
}

.info-one, .info-two, .info-three, .info-four {
    border-radius:10%;
    border: 3px solid #FBAFDA;
}

.info-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.info-container {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;
    text-align: center;
}

.info {
    padding: 70px 30rem 70px 30rem;
}

#info-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.quote {
    background-color: #FBC3E4;
    padding: 10rem 65px 10rem 65px;
}

.quote-text {
    color: #2D2D2D;
    font-style: italic;
    font-size: 36px;
    text-align: center;
}

.quote-person {
    color: #2D2D2D;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-left: 30rem;
    padding-top: 5px;
}

.signUpContainer {
    padding: 10rem 65px 10rem 65px;
    display: flex;
    justify-content: center;
}

#message {
    padding: 0px 50px 0px 50px;
    flex-direction: column;
    padding-bottom: 10px;
    color: #FBAFDA;
}

.modal {
    height: 100px;
    width: 1200px;
    background-color: #2D2D2D;
    display: flex;
    border-radius: 10px;
    padding: 3rem 50px 3rem 50px;
    justify-content: space-between;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.curved {
    background-color: #FBC3E4;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 24px;
    border: 3px solid #FBC3E4;
    height: 50px;
    width: 150px;
    text-align: center;
    color: #2D2D2D;
    font-weight: bold;
}

.space {
    padding: 0px 50px 0px 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.footer {
    background-color: #ECEDF2;
    color: #2D2D2D;
    font-weight: 400;
    padding: 30px 30px;
    text-align: center;
}

#inf {
    color: #808080;
}